@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1470202920_0966241.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1470202920_0966241.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1470202920_0966241.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1470202920_0966241.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1470202920_0966241.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.icon-zz:before{ content:"\e612"}
.icon-zy:before{ content:"\e611"}
.icon-left:before{ content:"\e610"}
.icon-right:before{ content:"\e60f"}
.icon-guanbi:before { content: "\e609"; }
.icon-gengduo:before { content: "\e602"; }
.icon-icon:before { content: "\e601"; }
.icon-icon1:before { content: "\e600"; }
.icon-icon2:before { content: "\e603"; }
.icon-icon3:before { content: "\e604"; }
.icon-icon4:before { content: "\e605"; }
.icon-icon5:before { content: "\e606"; }
.icon-icon6:before { content: "\e607"; }
.icon-icon7:before { content: "\e608"; }
.icon-iconfuzhi:before { content: "\e60a"; }
.icon-iconfuzhi1:before { content: "\e60b"; }
.icon-iconfuzhi2:before { content: "\e60c"; }
.icon-iconfuzhi3:before { content: "\e60d"; }
.icon-iconfuzhi4:before { content: "\e60e"; }
*{
  box-sizing: border-box;
}

.container{
  width: 1200px;
  margin: 0 auto;
}
.font-style{
  font-size: 14px;
  font-family: SimSun;
}
.iconfont{
  font-family: "iconfont"!important;
  font-size: 14px;
  font-style: normal;
  vertical-align: bottom;
  -webkit-text-stroke-width: 0.2px;
  -webkit-font-smoothing: antialiased;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
a{
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}
.form-control{
  border: 1px solid #e8e8e8;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #ffffff;
  color: #3c3c3c;
  background-image: none;
  .rounded(2px);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transtion: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  &:focus{
    border-color: #ff503f;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,80,63,.6);
  }
}
i{
  list-style: none;
}
.a-upload{
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  input[type="file"]{
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    cursor: pointer;
  }
}
img{
  vertical-align: bottom;
}
.combtn{
  .rounded(4px);
  width: 100px;
  height: 30px;
  line-height: 1.42857143;
  border:1px solid #49b782;
  background-color: #55de9c;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  &:hover{
    background-color: #4ec98e;
    text-decoration: none;
  }
}
a.combtn{
  line-height: 30px;
}
.btncolor{
  background-color: #ff503f;
  border: 1px solid #ee4635;
  &:hover{
    background-color: #d24133;
  }
}
.pagination a {
  text-decoration: none;
  border: 1px solid #e8e8e8;
  color: #797979;
}

.pagination a, .pagination span {
  display: inline-block;
  padding: 0.4em 0.8em;
  margin-right: 5px;
  margin-bottom: 5px;
}
.pagination a.next{
  margin-right: 0;
}

.pagination .current {
  background: #ff503f;
  color: #fff;
  border: 1px solid #c53e31;
}

.pagination .current.prev, .pagination .current.next{
  color:#999;
  border-color:#f3f3f3;
  background:#fff;
}
.img-box{
  display: table;
  .img-center{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    img{
      border: 1px solid #e8e8e8;
    }
  }

}
.layer-box{
  display: none;
  .layer-bg{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:20;
    opacity: .6;
    background-color: #000000;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  }
  .layer-content{
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #ffffff;
    z-index: 20;
  }
}
a:link{
  text-decoration: none;
}
.course-menu-box{
  position: absolute;
  top: 180px;
  right: -55px;
  z-index:20;
}
.course-menu,.crew-menu{
  width: 50px;
  height: 150px;
  text-align: center;
  .fl;
   span{
     writing-mode: tb-rl;
     text-align: center;
     display: block;
     letter-spacing:8px;
     line-height: 50px;
     height: 100%;
     cursor: pointer;
     background-color: #d6d6d6;
     padding-top: 10px;
     &:hover{
       background-color: #ff503f;
       color: #ffffff;
     }
   }
}
.course-item{
  width: 230px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  display: none;
  .fl;
  h4{
    line-height: 40px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    border-bottom:1px solid #e8e8e8 ;
  }
  ul{
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 10px 0 10px 30px;
    li{
      list-style: none;
      a{
        line-height: 24px;
        display: block;
        &:hover{
          text-decoration: none;
          color: #ff503f;
        }
      }
      a.current{
        color: #ff503f;
      }
      .item-child{
        padding-left: 20px;
      }
    }
  }
}