@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1469439956_915894.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1469439956_915894.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1469439956_915894.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1469439956_915894.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1469439956_915894.svg#iconfont') format('svg'); /* iOS 4.1- */
}


*{
  box-sizing: border-box;
}

.container{
  width: 1200px;
  margin: 0 auto;
}
.font-style{
  font-size: 14px;
  font-family: SimSun;
}
.iconfont{
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  vertical-align: bottom;
  -webkit-text-stroke-width: 0.2px;
  -webkit-font-smoothing: antialiased;

}
.fl{
  float: left;
}
.fr{
  float: right;
}
a{
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}