body{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../img/bg-body.png");
}
.test{
  font-size: 14px;
  line-height: 20px;
  color: red;
  a{
    display: block;
    .rounded(4px);
    border: 1px solid red;
    width: 100px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    &:hover{
      background: red;
      color: #ffffff;
    }
  }
}