.topfunc{
  text-align: right;
  .font-style;
  line-height: 36px;
  span{

  }
  a{
    .font-style;
    i{
      font-size: 26px;
      color: #ff503f;
    }
    &:hover{
      text-decoration: none;
      color: #ff503f;
    }
  }
}
.navbox{
  margin-bottom: 10px;
  .logo{
    .fl;
    margin-right: 90px;
  }
  .nav{
    overflow: hidden;
    margin: 0;
    li{
      .fl;
      line-height: 40px;
      list-style: none;
      a{
        color: #ff503f;
        font-size: 16px;
        padding: 0 15px;
      }
    }
  }
}