@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1469431157_3878298.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1469431157_3878298.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1469431157_3878298.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1469431157_3878298.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1469431157_3878298.svg#iconfont') format('svg'); /* iOS 4.1- */
}
body{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../img/bg-body.png");
}
.test{
  font-size: 14px;
  line-height: 20px;
  color: red;
  a{
    display: block;
    .rounded(4px);
    border: 1px solid red;
    width: 100px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    &:hover{
      background: red;
      color: #ffffff;
    }
    i.iconfont{
      font-family: "iconfont";
      font-size: 16px;
      font-style: normal;
      color: red;
    }
  }
}